@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 18px;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 0;
  height: 40px;
  border: none;
  background: none;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0px;
  right: 5px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.button:hover,
.button:active::before {
  background-color: #ffe17f;
}

.button:active,
.button:active::before {
  background-color: #ffcc33;
}

.button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 0px;
}

.button:disabled {
  opacity: 0.3;
  cursor: default;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 33px 0 9px 0;
}

.content-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.main-logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Header */
.page-header {
  color: #000000;
  background: linear-gradient(180deg, transparent 23px, #ffe17f 23px 100%);
}

.inner-header {
  padding-bottom: 22px;
}

.inner-title-wrapper {
  width: 1040px;
  margin: 0 auto;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.user-menu-wrapper {
  display: flex;
  position: relative;
  margin: 20px auto 30px auto;
}

.user-menu {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu-item {
  margin-left: 20px;
}

.user-menu-item:first-child {
  margin-left: 25px;
}

.user-menu-item:first-of-type {
  margin-right: auto;
}

.user-menu-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.icon {
  display: inline-block;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  margin-right: 14px;
}

.icon-user {
  background-image: url("../images/ui/user.svg");
}

.icon-compare {
  background-image: url("../images/ui/compare.svg");
}

.icon-cart {
  position: relative;
  width: 16px;
  height: 16px;
  top: -3px;
  left: 2px;
  background-image: url("../images/ui/cart.svg");
  margin-left: 12px;
}

.icon-cart::after {
  content: attr(data-items-count);
  position: absolute;
  top: -1px;
  left: -15px;
  display: block;
  width: 21px;
  height: 21px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin-left: 50px;
  line-height: 50px;
}

.navigation-item:first-of-type {
  margin: 0;
  margin-right: auto;
  position: relative;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 0px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-link-active {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.navigation-catalog {
  position: relative;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.navigation-catalog:hover {
  opacity: 1;
}

.navigation-catalog::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: -9px;
  right: -67px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background: linear-gradient(#000000, #000000), linear-gradient(#000000, #000000), transparent;
  background-position: center;
  background-size: 16px 2px, 2px 16px;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.navigation-dropdown-handler:hover .navigation-catalog::after {
  opacity: 1;
  background: linear-gradient(#000000, #000000), transparent;
  background-position: center;
  background-size: 16px 2px;
  background-repeat: no-repeat;
}

.navigation-dropdown-handler:hover .navigation-dropdown-wrapper {
  display: flex;
}

.navigation-catalog:hover::after {
  opacity: 1;
}

.navigation-dropdown-wrapper {
  display: none;
  box-sizing: border-box;
  width: 1160px;
  height: 180px;
  margin: 0;
  padding: 24px 60px 27px;
  position: absolute;
  top: 100%;
  left: -60px;
  z-index: 4;
  line-height: 34px;
  list-style: none;
  background-color: #ffe17f;
}

.navigation-dropdown-wrapper::before {
  content: "";
  width: 300px;
  height: 30px;
  position: absolute;
  left: 55px;
  top: -15px;
}

.navigation-dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-dropdown-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
}

.navigation-dropdown-link:hover {
  opacity: 0.6;
}

.navigation-dropdown-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-dropdown-link-current {
  border-bottom: 1px solid #000000;
}

.navigation-column-wrapper:not(:last-child) {
  margin-right: 58px;
}

/* поиск */
.search {
  display: flex;
  width: 517px;
  margin: 0;
}

.search-input {
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-right: none;
  box-sizing: border-box;
  border-radius: 50px 0px 0px 50px;
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background: url("../images/ui/search.svg") no-repeat scroll 16px 9px;
  padding-left: 45px;
  outline: none;
}

.search-input::placeholder {
  color: #4c4c4c;
}

.search-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search-input:disabled {
  opacity: 0.3;
}

.search-submit {
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 50px 50px 0px;
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.search-submit:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-submit:active {
  background-color: #000000;
  color: #4c4c4c;
}

.search-submit:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search-submit:disabled {
  opacity: 0.3;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 38px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -21px;
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../images/ui/arrow-small-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

/* Promo + Slider */
.promo-wrapper {
  background: linear-gradient(180deg, #ffe17f 135px, transparent 23px 100%);
  position: relative;
  margin-bottom: 90px;
}

.promo-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: slider-items;
}

.promo-slider-item {
  display: none;
  counter-increment: slider-items;
}

.promo-slider-active {
  display: flex;
}

.promo-slider-image {
  display: block;
  position: absolute;
  top: -15px;
}

.slider-descr-wrapper {
  position: relative;
  padding-top: 107px;
  width: 560px;
  margin-left: auto;
  box-sizing: border-box;
}

.slider-descr-wrapper::before {
  content: "0" counter(slider-items);
  display: block;
  width: 250px;
  height: 135px;
  position: absolute;
  top: 68px;
  left: 299px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.promo-slogan {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  position: relative;
  z-index: 1;
}

.promo-slogan-more {
  margin: 30px auto;
}

.promo-more {
  width: 225px;
  margin: 50px 0 50px;
}

.promo-slider-item dl {
  display: flex;
}

.defenition-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
}

.defenition-wrapper:last-child {
  margin: 0;
}

.promo-slider-item dd {
  color: #000000;
  font-size: 36px;
  margin: 0;
  margin-bottom: 12px;
}

.promo-slider-item dt {
  font-size: 16px;
}

.promo-chooser-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  top: 342px;
  display: flex;
}

.promo-chooser-item:not(:last-child) {
  margin-right: 20px;
}

.promo-chooser-link {
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 12px;
  font-size: 0px;
  line-height: 0px;
  box-sizing: border-box;
}

.promo-chooser-link-active {
  background-color: #000000;
}

.promo-chooser-link:hover {
  opacity: 0.6;
}

.promo-chooser-link:active {
  opacity: 0.3;
}

.promo-chooser-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.promo-chooser-link-active:disabled {
  opacity: 0;
}

.promo-chooser-link:disabled {
  opacity: 0.1;
}

.promo-slider-button {
  position: absolute;
  box-sizing: border-box;
  top: -23px;
  width: 50px;
  height: 500px;
  padding: 0;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.promo-slider-button:hover {
  opacity: 0.6;
}

.promo-slider-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.promo-slider-button-left {
  background-image: url(../images/ui/arrow-left.svg);
  left: 15px;
}

.promo-slider-button-right {
  left: 525px;
  background-image: url(../images/ui/arrow-right.svg);
}

/* Ассортимент девайсов */
.device-wrapper {
  margin-bottom: 70px;
}

.device-category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.device-category-item {
  width: 160px;
  height: 253px;
}

.device-category-link {
  display: block;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.device-category-link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #ffe17f;
  background-position: center center;
  background-repeat: no-repeat;
}

.device-category-link:hover:before {
  background-color: #ffc700;
}

.device-category-link:active {
  opacity: 0.3;
}

.device-category-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.device-vr::before {
  background-image: url("../images/categories/googles.svg");
}
.device-monopod::before {
  background-image: url("../images/categories/monopod.svg");
  background-position: bottom;
}
.device-camera::before {
  background-image: url("../images/categories/minicam.svg");
}
.device-band::before {
  background-image: url("../images/categories/band.svg");
}
.device-watch::before {
  background-image: url("../images/categories/watch.svg");
}
.device-quadro::before {
  background-image: url("../images/categories/copter.svg");
}

/* Услуги доставки */
.services {
  background: linear-gradient(180deg, transparent 100px, #f0f0f0 100px 100%);
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-bottom: 72px;
}

.services-list {
  box-sizing: border-box;
  width: 287px;
  list-style: none;
  padding: 63px 0 65px 0;
  margin: 0;
  border-right: 8px solid #000000;
}

.services-item {
  margin-bottom: 35px;
}

.services-item:last-of-type {
  margin: 0;
}

.services-descr-list {
  list-style: none;
  padding: 73px 63px 0 0;
  margin: 0;
}

.services-descr-item {
  display: none;
  width: 694px;
  justify-content: space-between;
}

.services-descr-active {
  display: flex;
}

.services-descr-text-wrapper {
  width: 452px;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 34px;
}

.services-item-link {
  width: 160px;
}

.button-services-active {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffe17f;
  display: block;
  width: 285px;
  height: 40px;
  line-height: 40px;
  background-color: #000000;
  padding-left: 17px;
  box-sizing: border-box;
}

/* Промо доставки */
.delivery-promo-wrapper {
  margin-bottom: 70px;
}

.delivery-promo-button {
  position: relative;
  display: block;
  max-width: 1160px;
  height: 100px;
  background-color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 103px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 4px;
}

.delivery-promo-button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url("../images/truck.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.delivery-promo-button::before {
  content: "i";
  position: absolute;
  top: 30px;
  right: 42px;
  width: 40px;
  height: 40px;
  font-weight: 400;
  text-transform: none;
  color: #b3b3b3;
  border-radius: 50%;
  background-color: #e6e6e6;
  line-height: 40px;
  letter-spacing: normal;
}

.delivery-promo-button:hover::after {
  background-color: #ffc700;
}
.delivery-promo-button:hover::before {
  color: #000000;
}

.delivery-promo-button:active {
  opacity: 0.3;
}

.delivery-promo-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* info-wrapper */
.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

/* О нас */
.about {
  width: 500px;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin: 47px 0 48px 0;
}

.about p {
  margin: 30px auto;
}

.about-list {
  padding: 0 0 0 16px;
  margin: 0 0 30px 0;
}

.about-list-item {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin: 19px auto;
  padding-left: 20px;
}

.about-list-item::marker {
  color: #ffc700;
}

.button-about {
  width: 275px;
}

/* Контакты */
.contacts {
  width: 532px;
}

.contacts::before {
  content: "";
  display: block;
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin: 47px 0 48px 0;
}

.contacts p {
  margin: 30px auto;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 30px 0 15px 0;
}

.contacts-address {
  font-style: inherit;
}

.contacts-address p {
  margin: 0;
}

.contacts-phone {
  color: inherit;
}

.contacts-sched {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

/* Подписка на рассылку */
.subscription {
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscription-text-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 144px;
}

.subscription-welcome {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0;
  width: 348px;
  margin-left: 7px;
}

.subscription-descr {
  width: 560px;
  margin: 0;
  margin-right: -7px;
  align-self: flex-end;
}

.subscription-form {
  display: flex;
}

.subscription-input {
  box-sizing: border-box;
  width: 559px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding-left: 18px;
  background-color: transparent;
  border: 0;
  border-bottom: #c4c4c4 solid 3px;
  outline: 0;
}

.subscription-input:focus {
  background-color: #dcdcdc;
  outline: none;
}

.subscription-input:invalid {
  border-color: #ff3d3d;
}

.subscription-button {
  box-sizing: border-box;
  width: 253px;
  height: 57px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: #c4c4c4 solid 3px;
  outline: 0;
  padding: 0;
}

.subscription-button:hover {
  border-color: #000000;
}

.subscription-button:active {
  opacity: 0.3;
}

.subscription-button:disabled {
  border-color: #e5e5e5;
  opacity: 0.3;
  cursor: default;
}

.subscription-ok {
  padding: 0;
  margin: 0;
  margin-left: auto;
  align-self: center;
  display: flex;
}

.subscription-ok::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background: url("../images/ui/check.svg") no-repeat;
  align-self: center;
}

.button-subscribe {
  width: 265px;
}

/* каталог */
.catalog-section {
  background-color: #f0f0f0;
}

.catalog-wrapper {
  display: flex;
}

.filters-wrapper {
  width: 320px;
  margin-top: 10px;
  margin-left: 60px;
}

.products-wrapper {
  width: 840px;
}

.catalog-title,
.filters-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sort-controls-wrapper .filters-title {
  letter-spacing: 0.2em;
}

.filters-group-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 12px;
  padding: 0;
}

.filters-group:first-of-type .filters-group-title {
  margin-bottom: 16px;
}

.filters-group-title::before {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  position: absolute;
  top: -12px;
  background-color: #000000;
}

.filter-item-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sort-controls-wrapper {
  display: flex;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  margin: auto 40px;
}

.select-control {
  padding-right: 26px;
  margin-left: 190px;
  margin-right: auto;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.button-sort {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  opacity: 0.2;
}

.button-sort:hover {
  opacity: 0.5;
}

.button-sort:active {
  opacity: 1;
}

.button-sort:focus {
  outline: 2px solid #af4fff;
}

.button-asc {
  background-image: url("../images/ui/arrow-up.svg");
}

.button-desc {
  background-image: url("../images/ui/arrow-down.svg");
}

.product-list-wrapper {
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
}

.product-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
  height: 456px;
}

.product-card-image {
  display: block;
  background-color: #ffffff;
  width: 360px;
  height: 380px;
}

.product-card-link {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.product-card-overlay {
  position: absolute;
  background-color: rgba(244, 244, 244, 0.8);
  width: 360px;
  height: 380px;
  display: none;
  z-index: 2;
}

.product-card-info {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, transparent 16px, #ffe17f 16px, #ffe17f 24px, transparent 24px);
  margin: 170px auto;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  width: 240px;
}

.product-card-price {
  line-height: 23px;
  margin: 0;
}

.product-card-new::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 27px;
  right: 27px;
  background-image: url("../images/ui/product-new.svg");
  z-index: 1;
}

.product-card-link:hover .product-card-title,
.product-card-link:hover .product-card-price {
  opacity: 0.6;
}

.product-card-link:hover .product-card-overlay,
.product-card-link:active .product-card-overlay {
  display: block;
}

.product-card-link:active .product-card-info {
  background: linear-gradient(to bottom, transparent 16px, #ffc700 16px, #ffc700 24px, transparent 24px);
}

.product-card-link:active .product-card-wrapper {
  opacity: 0.3;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-right: 0.2em;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  margin: 41px 0px 44px 0;
}

.pagination-show-more:hover {
  background-color: #000000;
  border: 3px solid #000000;
  color: #ffffff;
}

.pagination-show-more:active {
  background-color: #000000;
  border: 3px solid #000000;
  color: #4c4c4c;
}

.pagination-show-more:focus {
  outline: 3px solid #af4fff;
  outline-offset: 2px;
}

/* Пагинация */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
}

.pagination-link {
  display: block;
  width: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: inherit;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: 3px solid #af4fff;
  outline-offset: 2px;
}

.pagination-disabled {
  color: transparent;
  pointer-events: none;
  cursor: default;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 25px;
  margin-right: -0.2em;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev:active,
.pagination-next:active {
  color: #9a9a9a;
}

.pagination-prev:focus,
.pagination-next:focus {
  outline: 3px solid #af4fff;
  outline-offset: 2px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

/* Подвал */
.page-footer {
  background-color: #444444;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-left-block {
  width: 239px;
}
.footer-left-block::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-top: 64px;
  background-color: #ffc700;
}

.footer-center-block {
  min-width: 456px;
  margin-top: 75px;
  margin-right: 65px;
}

.footer-right-block {
  width: 175px;
  margin-top: 78px;
}

.footer-adress {
  font-style: normal;
  margin-top: 30px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  list-style: none;
}

.footer-navigation-item {
  margin-right: 35px;
}

.footer-navigation-item:last-of-type {
  margin-right: 0;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-navigation-link:hover {
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.footer-navigation-link:active {
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: 3px solid #af4fff;
  outline-offset: 2px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-of-type {
  margin-right: 0;
}

.footer-social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7c7c7c;
}

.footer-social-link::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-social-link:hover,
.footer-social-link:active {
  background-color: #ffc700;
}

.footer-social-link:focus {
  outline: 3px solid #af4fff;
  outline-offset: 2px;
}

.fb-link::after {
  background-image: url("../images/social/facebook.svg");
}

.instagram-link::after {
  background-image: url("../images/social/instagram.svg");
}

.twitter-link::after {
  background-image: url("../images/social/twitter.svg");
}

.fb-link:active:after,
.instagram-link:active:after,
.twitter-link:active:after {
  opacity: 0.3;
}

.footer-contacts-phone {
  display: block;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
  margin-bottom: 63px;
}

.footer-contacts-phone:hover {
  color: #ffc700;
}

.footer-contacts-phone:active {
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  outline: 3px solid #af4fff;
  outline-offset: 2px;
}

.htmlacademy-link {
  float: right;
}

.htmlacademy-link:hover path {
  fill: #ffffff;
}

.htmlacademy-link:active svg {
  opacity: 0.3;
}

/* filters */
.filters {
  position: relative;
}

.filters-group {
  margin: 0px;
  padding: 0px;
  border: none;
  position: relative;
  margin-bottom: 47px;
}

.filters-group:nth-child(2) {
  margin-bottom: 34px;
}

.filters-group:last-of-type {
  margin-bottom: 21px;
}

.filters-group:first-child {
  margin-top: 69px;
}

.filters-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.filters-item {
  margin-bottom: 7px;
}

.filters-group:last-of-type > .filters-list > .filters-item {
  margin-bottom: 10px;
}

.filters-button {
  width: 224px;
}

/* checkbox + radio */
.checkbox-label,
.radio-label {
  position: relative;
  padding-left: 36px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.checkbox-input,
.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-mimic {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #cccccc;
}

.radio-mimic {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}

.checkbox-input:checked + .checkbox-mimic {
  background-image: url("../images/ui/checkbox-on.svg");
  border: 2px solid #000000;
}

.radio-input:checked + .radio-mimic {
  border-color: #000000;
}

.radio-input:checked + .radio-mimic::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: #000000;
}

.checkbox-input:hover + .checkbox-mimic,
.checkbox-input:hover + .checkbox-mimic + .checkbox-text,
.radio-input:hover + .radio-mimic,
.radio-input:hover + .radio-mimic + .radio-text {
  opacity: 0.6;
}

.checkbox-input:active + .checkbox-mimic,
.checkbox-input:active + .checkbox-mimic + .checkbox-text,
.radio-input:active + .radio-mimic,
.radio-input:active + .radio-mimic + .radio-text {
  opacity: 0.3;
}

.checkbox-input:disabled + .checkbox-mimic,
.checkbox-input:disabled + .checkbox-mimic + .checkbox-text,
.radio-input:disabled + .radio-mimic,
.radio-input:disabled + .radio-mimic + .radio-text {
  opacity: 0.1;
  cursor: default;
}

.checkbox-input:focus + .checkbox-mimic,
.radio-input:focus + .radio-mimic {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* range */
.range-track {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 11px;
  margin-top: 10px;
  background-color: #dcdcdc;
}

.range-track-active {
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #000000;
}

.range-button {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ebebeb;
  cursor: pointer;
}

.range-button-min {
  top: -8px;
  left: -9px;
}

.range-button-max {
  top: -8px;
  right: -8px;
}

.range-button:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.range-button:active {
  background-color: #000000;
  opacity: 1;
}

.range-text-wrapper {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.range-text-label {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.range-text-label:first-of-type {
  margin-left: -14px;
  margin-top: 2px;
}

.range-text-label:last-of-type {
  margin-right: -32px;
}

.range-text-input {
  width: 37px;
  padding: 0 4px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-text-input::-webkit-outer-spin-button,
.range-text-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* модальное окно */
.modal-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 5;
}

.modal {
  padding: 62px 70px;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal-delivery {
  width: 760px;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-close-button {
  padding: 0;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 74px;
  right: 70px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/ui/cross.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
}

.delivery-field-group {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}

.delivery-field-group input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
  height: 60px;
  border: none;
}

.delivery-field-group input::placeholder {
  opacity: 0.3;
}

.delivery-field-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 14px;
}

.delivery-field-name {
  padding: 0;
  padding-left: 20px;
  margin-right: 40px;
  width: 340px;
  background-image: url("../images/ui/user-grey.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center right 24px;
}

.delivery-field-name:hover {
  background-color: #dcdcdc;
}

.delivery-field-name:disabled {
  opacity: 0.3;
}

.delivery-field-email {
  padding: 0;
  padding-left: 20px;
  width: 340px;
  background-image: url("../images/ui/mail.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: center right 22px;
}

.delivery-error-text {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ff3d3d;
  display: none;
}

.delivery-field-email:hover {
  background-color: #dcdcdc;
}

.delivery-field-email:invalid {
  outline: 2px solid #ff3d3d;
  outline-offset: 0;
}

.delivery-field-email:invalid + .delivery-error-text {
  display: inline;
}

.delivery-field-email:disabled {
  opacity: 0.3;
}

.delivery-field-order {
  padding: 0;
  padding-left: 20px;
  margin-right: 37px;
  width: 520px;
}

.delivery-field-order:hover {
  background-color: #dcdcdc;
}

.delivery-field-order:disabled {
  opacity: 0.3;
}

.tooltip {
  margin-top: -1px;
  margin-left: 9px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-toggle:hover .tooltip-icon path {
  opacity: 0.6;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  color: #ffffff;
  background-color: #000000;
  padding: 19px 17px 0 19px;
  width: 164px;
  min-height: 141px;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: absolute;
  right: -34px;
  z-index: 6;
  display: none;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -6px;
  right: 40px;
  border: 6px solid #ffffff;
  border-top-width: 0;
  border-left-color: transparent;
  border-bottom-color: #000000;
  border-right-color: transparent;
}

.delivery-field-quantity {
  width: 180px;
  padding: 0;
  text-align: center;
}

.delivery-field-quantity::-webkit-outer-spin-button,
.delivery-field-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.delivery-field-quantity:invalid {
  outline: 2px solid #ff3d3d;
  outline-offset: 0;
}

.delivery-field-quantity-container {
  position: relative;
}

.delivery-quantity-toggle {
  height: 60px;
  position: absolute;
  top: 34px;
  width: 60px;
  border: none;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.delivery-quantity-toggle:hover {
  opacity: 0.6;
}

.delivery-quantity-toggle:active {
  opacity: 0.3;
}

.toggle-minus {
  left: 0;
  background-image: url("../images/ui/toggle-minus.svg");
}

.toggle-plus {
  right: 0;
  background-image: url("../images/ui/toggle-plus.svg");
}

.delivery-submit {
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 10px 5px;
  margin-top: 26px;
}

.modal-container-close {
  display: none;
}

/* popover корзины */
.user-menu-cart:hover .popover {
  display: block;
}

.user-menu-cart:hover .user-menu-link {
  opacity: 0.6;
}

.popover {
  display: none;
  box-sizing: border-box;
  width: 320px;
  min-height: 217px;
  position: absolute;
  top: 40px;
  right: -60px;
  color: #ffffff;
  background-color: #000000;
  z-index: 3;
}

.popover::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 155px;
  background-color: #000000;
  transform: rotate(45deg);
}

.popover::after {
  content: "";
  width: 320px;
  height: 13px;
  position: absolute;
  top: -12px;
}

.popover-content {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  height: 100%;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.popover-cart-item {
  position: relative;
  margin-bottom: 20px;
}

.cart-item-link {
  padding-right: 50px;
  display: flex;
  color: inherit;
  text-decoration: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus {
  outline: none;
}

.cart-item-link:focus::after {
  content: "";
  width: 254px;
  height: calc(100% - 16px);
  position: absolute;
  top: 18px;
  left: 18px;
  outline: 2px solid #af4fff;
}

.cart-item-image {
  margin: 0;
  padding: 20px 20px 0;
}

.cart-item-text {
  padding-top: 20px;
  padding-left: 3px;
}

.cart-item-button-close {
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 18px;
  right: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cart-item-button-close:hover {
  opacity: 0.6;
}

.cart-item-button-close:focus {
  outline: none;
}

.cart-item-button-close:focus::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  left: 0;
  outline: 2px solid #af4fff;
}

.popover-cart-total {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #1a1a1a;
}

.popover-total-text {
  margin: 13px 0;
}

.cart-open-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 280px;
  height: 50px;
  margin: 20px;
  border: none;
  cursor: pointer;
}

.cart-open-button:hover {
  background-color: #ffe17f;
}

.cart-open-button:active {
  background-color: #ffe17f;
  color: #b39e59;
}

.cart-open-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-open-button:disabled {
  opacity: 0.3;
  cursor: default;
}
